.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #ffa617;
    box-shadow: 0 0 0 3px #ffa617;
}
@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}
.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

.swiper {
    width: 500px; /* Set a fixed width for the Swiper */
    height: 400; /* Adjust height based on content */
    margin: 0 auto; /* Center the Swiper */
    position: relative;
}

.swiper-slide {
    width: 100%; /* Make the slides fit the Swiper container */
    height: auto; /* Let the height adjust based on the content */
    overflow: hidden;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.bg-white img {
    border-radius: auto; /* Ensure the image has matching border-radius */
    display: block; /* Ensure there is no gap around the image */

}
@media (min-width: 200px) {
    .swiper-slide {
        width: 400px; /* Adjust the width for tablet screens */
    }
}

@media (min-width: 300px) {
    .swiper-slide {
        width: 500px; /* Adjust the width for desktop screens */
    }
}

/* Move the next button outside */
.swiper-button-next {
    right: 0; /* Move to the right, outside the card */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    color: #000; /* Optional: Change arrow color */
}

/* Move the previous button outside */
.swiper-button-prev {
    left: 0; /* Move to the left, outside the card */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    color: #000; /* Optional: Change arrow color */
}