{% load static %}
<footer class="w-full p-2 bg-black text-white shadow md:flex md:items-center md:justify-between md:p-4">
    <div class="flex flex-col">
        <span class="text-2xl sm:text-center" style="font-family: 'Damion', cursive;">Bite@UI</span>
        <a href="https://github.com/caqqmarina/midterm-project-PBP-group-K7" class="hover:underline text-white text-xs" style="font-family: 'Doppio One', sans-serif;">GROUPK7pbp</a>
        <span class="text-xs" style="font-family: 'Doppio One', sans-serif;">October 2024</span>
    </div>
    <div class="flex flex-col text-right">
        <span class="text-xs" style="font-family: 'Doppio One', sans-serif;">Faculty of Computer Science</span>
        <span class="text-xs" style="font-family: 'Doppio One', sans-serif;">Universitas Indonesia</span>
        <span class="text-xs" style="font-family: 'Doppio One', sans-serif;">(021) 7863419</span>
    </div>
</footer>