{% load static %}
<nav class="p-4 shadow" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <div class="container mx-auto flex justify-between items-center" style="height: 100px;">
        <!-- Logo as Text -->
        <a href="{% url 'main:homepage' %}" class="text-4xl" style="font-family: 'Damion', cursive; color: #6B2727;">
            Bite@UI
        </a>

        <!-- Navigation Links -->
        <div class="flex space-x-12">
            <a href="{% url 'main:homepage' %}" class="text-lg text-black hover:text-gray-700 transition" style="font-family: 'Doppio One';">
                Home
            </a>
            <a href="{% url 'main:faculty' %}" class="text-lg text-black hover:text-gray-700 transition" style="font-family: 'Doppio One';">
                Faculty
            </a>
        </div>

        {% if user.is_staff %}
            <div class="flex space-x-8">
                <a href="{% url 'main:add_faculty_and_canteen' %}" class="text-white bg-green-500 hover:bg-green-700 py-2 px-4 rounded">
                    Add Faculty and Canteen
                </a>                
                <a href="'{% url 'main:add_stall' %}">Create Stall</a>
            </div>
        {% endif %}

        <!-- Authentication Links -->
        <div class="flex space-x-4 items-center">
            {% if user.is_authenticated %}
                <a href="{% url 'main:logout' %}" class="text-lg text-black hover:text-gray-700 transition"style="font-family: 'Doppio One';">
                    Log Out
                </a>
            {% else %}
                <a href="{% url 'main:login_and_register' %}?action=login" class="text-lg text-black hover:text-gray-700 transition">
                    Log In
                </a>
                <a href="{% url 'main:login_and_register' %}?action=signup" class="text-lg text-white bg-black px-4 py-2 rounded-full hover:bg-gray-700 transition">
                    Register
                </a>
            {% endif %}
        </div>
    </div>
</nav>
