{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Canteens From {{ faculty_name }}</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<main class="min-h-screen bg-fixed" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <h3 class="mb-2 text-slate-800 text-xl font-semibold text-center"> Stalls From {{ faculty_name }} </h3>
    <div class="container mx-auto py-16">
        <div class="flex justify-center my-4">
            <a href="{% url 'main:add_stall' %}" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
                Add Stall
            </a>
        </div>
        
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for item in data %}
            <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">{{ item.name }}</h6>
                <div class="flex justify-center items-center h-36">
                    <img src="{% static item.canteen.image %}" alt="Faculty 1" class="object-contain w-full h-full rounded-lg">
                </div>
                <div class="p-4 flex-grow flex flex-col justify-between">
                    <div class="{{ item.canteen.faculty.name_css_class }}">
                        Cuisine: {{ item.cuisine }}
                    </div>
                </div>

                <div class="flex justify-center mt-4">
                    <!-- Delete Stall Button -->
                    {% if user.is_authenticated and user.is_staff %}
                    <form action="{% url 'main:delete_stall' item.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Delete Stall
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>No stalls exist at this location.</p>
            {% endfor %}
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock content %}
