{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Canteens From {{ faculty_name }}</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<main class="min-h-screen bg-fixed" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <h3 class="mb-2 text-slate-800 text-xl font-semibold text-center"> Stalls From {{ faculty_name }} </h3>
    <div class="container mx-auto py-16">
        <div class="flex justify-center my-4">
            {% if user.is_authenticated %}
                <a href="{% url 'main:add_stall' %}" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
                    Add Stall
                </a>
            {% else %}
                <p>Please <a href="{% url 'main:login' %}" class="text-blue-500 underline">log in</a> to add a stall.</p>
            {% endif %}
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for item in data %}
            <a href="{% url 'main:stall' canteen_name=item.canteen.name stall_name=item.name %}">
                <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col h-full">
                    <!-- Image section -->
                    <div class="h-40 overflow-hidden">
                        <img src="{% static item.canteen.image %}" alt="{{ item.name }}" class="w-full h-full object-cover">
                    </div>
                    <!-- Content section -->
                    <div class="p-4 flex-grow">
                        <h6 class="text-slate-800 text-xl font-semibold">{{ item.name }}</h6>
                        <span class="bg-yellow-400 text-black text-xs font-medium px-2 py-1 rounded-lg inline-block my-2">
                            {{ item.cuisine }}
                        </span>
                        <p class="text-gray-700 text-sm">Price range<br>Rp.... - Rp.....</p>
                    </div>
                    <!-- Button section -->
                    <div class="p-4">
                        <button class="w-full bg-gray-200 text-black font-semibold py-2 rounded-lg hover:bg-gray-300">
                            Read More
                        </button>
                    </div>
                </div>
            </a>
            {% empty %}
            <p>No stalls exist at this location.</p>
            {% endfor %}
        </div>
    </div>
</main>


{% include 'footer.html' %}
{% endblock content %}
