{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Faculty</title>
{% endblock meta %}

{% block content %}
{% include 'faculty_navbar.html' %}

<main class="min-h-screen bg-fixed font-doppio-one" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <div class="container mx-auto py-16">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for item in data %}
            <a href="{% url 'main:canteen' item.name %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">{{ item.faculty.nickname }}</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{{ item.image }}" alt="Faculty 1" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="{{ item.faculty.get_css_class }}">
                            {{ item.name }}
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            {{ item.faculty.name }}
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            {{ item.price }}
                        </p>
                    </div>
                    <!-- Edit and Delete Buttons -->
                    {% if user.is_authenticated and user.is_staff %}
                        <div class="flex justify-between mt-4">
                            <form action="{% url 'main:delete_faculty' item.faculty.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-white bg-red-500 hover:bg-red-700 py-2 px-4 rounded">
                                    Delete
                                </button>
                            </form>
                            <form action="{% url 'main:edit_faculty' item.faculty.id %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="text-white bg-yellow-500 hover:bg-yellow-700 py-2 px-4 rounded">
                                    Edit
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </a>
            {% empty %}
            <p>No canteens found.</p>
            {% endfor %}
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock content %}