{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Faculty</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<main class="min-h-screen bg-fixed" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <div class="container mx-auto py-16">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">FMIPA</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/fmipamakara.png' %}" alt="Faculty 1" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center bg-gradient-to-r from-cyan-600 to-black">
                            DALLAS
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Faculty of Mathematics and Natural Sciences
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp10.000–Rp25.000/pax
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">FISIP</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/fisipmakara.png' %}" alt="Faculty 2" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full bg-amber-500 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center">
                            TAKOR
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Faculty of Social and Political Sciences
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp10.000–Rp25.000/pax
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">FIB</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/makarafib2.png' %}" alt="Faculty 3" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full bg-neutral-400 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center">
                            KANSAS
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Faculty of Cultural Sciences
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp10.000–Rp20.000/pax
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">FASILKOM</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/makarafasilkom.png' %}" alt="Faculty 4" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center bg-gradient-to-r from-blue-500 to-red-600">
                            BALGEBUN
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Faculty of Computer Science
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp10.000–Rp20.000/pax
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">VOKASI</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/makaravokasi.png' %}" alt="Faculty 5" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center bg-gradient-to-r from-green-600 via-orange-500 to-blue-500">
                            KANVOK
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Vocational Program
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp10.000–Rp25.000/pax
                        </p>
                    </div>
                </div>
            </a>
            <a href="{% url 'main:faculty' %}">
                <div class="bg-white shadow-md rounded-lg p-4 w-full h-full flex flex-col justify-between">
                    <h6 class="mb-2 text-slate-800 text-xl font-semibold text-center">PERPUS-UI</h6>
                    <div class="flex justify-center items-center h-36">
                        <img src="{% static 'images/perpusui.png' %}" alt="Faculty 6" class="object-contain w-full h-full rounded-lg">
                    </div>
                    <div class="p-4 flex-grow flex flex-col justify-between">
                        <div class="mb-4 rounded-full bg-yellow-400 py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center">
                            LIBRARY
                        </div>
                        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
                            Crystal of Knowledge
                        </h6>
                        <p class="text-slate-600 leading-normal font-light">
                            Rp15.000–Rp25.000/pax
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock content %}