{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block meta %}
<title>Favorite Products</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<main class="min-h-screen bg-fixed font-doppio-one" style="background: url('{% static 'images/gradientorange.png' %}') no-repeat center center fixed; background-size: cover;">
    <div class="container mx-auto py-16">
        <h2 class="text-3xl font-bold text-center text-slate-800 mb-8">Favorite Products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for favorite in favorites %}
            <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col h-full">
                <div class="p-4 flex-grow">
                    <h6 class="text-slate-800 text-xl font-semibold">{{ favorite.product.name }}</h6>
                    <p class="text-gray-700 text-sm">Price: Rp{{ favorite.product.price|format_price }}</p>
                </div>
                <div class="p-4">
                    <a href="{% url 'main:product_detail' favorite.product.id %}" class="w-full bg-gray-200 text-black font-semibold py-2 rounded-lg hover:bg-gray-300 text-center block">
                        View Product
                    </a>
                    <form method="post" action="{% url 'main:unfavorite_product' favorite.product.id %}" class="mt-2">
                        {% csrf_token %}
                        <button type="submit" class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 rounded-lg">
                            Remove from Favorites
                        </button>
                    </form>
                </div>
            </div>
            {% empty %}
            <p class="text-gray-600">You have no favorite products.</p>
            {% endfor %}
        </div>
    </div>
</main>
{% include 'footer.html' %}
{% endblock content %}