{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Canteen Recommendation App</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mx-auto py-8 text-center">
    <h1 class="font-tiny5 text-4xl font-bold">Welcome,</h1>
    <p class="font-chivo-mono text-lg underline mb-4">Username</p>

    <h1 class="font-tiny5 text-2xl mb-8">Where do you want to eat today?</h1>

    <div class="grid grid-cols-3 gap-4">
        <div class="bg-white shadow-md rounded-lg p-4">
            <img src="{% static 'images/fmipamakara.png' %}" alt="FMIPA Image" class="w-full h-36 object-cover">
            <p class="text-xl font-semibold mt-2">FMIPA</p>
        </div>
        <div class="bg-white shadow-md rounded-lg p-4">
            <img src="{% static 'images/fisipmakara.png' %}" alt="FISIP Image" class="w-full h-36 object-cover">
            <p class="text-xl font-semibold mt-2">FISIP</p>
        </div>
        <div class="bg-white shadow-md rounded-lg p-4">
            <img src="{% static 'images/fkmmakara.png' %}" alt="FKM Image" class="w-full h-36 object-cover">
            <p class="text-xl font-semibold mt-2">FKM</p>
            
        <h5>Last login session: {{ last_login }}</h5>
        <a href = "{% url 'main:logout' %}" class="text-lg text-blue-600 hover:text-blue-400 transition">
            Log Out
        </div>
    </div>
</div>


{% endblock %}

<!-- JS for Interactivity (optional) -->
{% block extra_js %}
<!-- Your JS code or optional interactive features can be placed here -->
{% endblock %}
